@use '../../utilities.scss' as mixin;

.card {
  min-height: 6rem;
  width: 6rem;
  background-color: var(--background-1);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;


  .banner {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0%;
    left: 0%;
    

    >div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      padding: 2rem;
      background-color: var(--main-text-color-opposite);
      color: var(--main-text-color);

      @include mixin.respond(eight) {
        top: 40%;
      }
    }
  }
}