.promptBox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: var(--main-text-color);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  > div {
    position: absolute;
    // width: auto;
    // height: auto;
    top: 35%;
    left: 45%;

    div {
      margin-top: 0.7rem;

      
    }
  }
}