
.boardContainer {
  display: flex;
  width: 75%;
  // justify-content: space-around;
  flex-direction: column;
  position: absolute;
  right: 0;
  overflow-x: hidden;
  

  .boardHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    background-color: var(--background-1);
    color: var(--main-text-color);

    button {
      background-color: var(--color-primary);
      color: var(--main-text-color);
      border-radius: 20px;
      padding: 0.4rem 0.7rem;
      border: none;
      color: #ffffff;
    }
  }

  .board {
  display: flex;
  // width: 75%;
  justify-content: space-around;
  padding-top: 1rem;
  color: var(--main-text-color);
  // overflow-y: scroll;

  > div {
    flex-basis: 33%;
  }
}
}

